/*Curso de Engenharia de Software - UniEVANGÉLICA 
Disciplina de Programação Web 
Dev: Pedro Henrique Pereira de Melo 2111562 
DATA 17/05/2023 */

h1 {
    text-align: center;
}

form {
    margin: 20px 0;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}